@import "variables.css";
@import "typography.css";
@import "animations.css";
@import "responsive.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container > section {
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.background-overlay {
  background-color: var(--text-color-primary);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeOutOverlay 500ms 500ms forwards ease-out;
  will-change: transform;
  z-index: 2;
}

.visible-content {
  background-color: var(--background-color-default);
  width: 100%;
}

.sliding-overlay {
  background-color: var(--background-color-overlay);
  position: absolute;
  width: fit-content;
  clip-path: inset(0 0 0 100%);
  animation: showSlideOverlay 1s 1500ms forwards,
    slideClipPath 7s 3s infinite cubic-bezier(0.25, 0, 0.25, 1);
  will-change: clip-path;
  z-index: 1;
}

@media (prefers-reduced-motion: reduce) {
  .sliding-overlay {
    animation: none;
  }
}

.title {
  font-family: var(--font-family);
  font-size: 104px;
  text-transform: uppercase;
}
